@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-netotakugreen-500: #ABEB52;
  --color-netotakupurple-100: #FAECFD;
  --color-netotakupurple-200: #F0C9F9;
  --color-netotakupurple-500: #9444A6;
}

.textured-bg {
  background-image: url(pages/assets/image/textured-bg.jpg);
}